<section class="faq-section">
  <div class="container">
    <h1>Edit Category Details</h1>
    <div class="faq-content" id="addNewMovie">
      <div class="faq-inner-content">
        <div class="contact-sec">
          <ul>
            Name:
            <li>
              <input type="text" id="cname" required value="<%= category.name%>">
              <span class='error-msg hide' id="error-msg-name"></span>
            </li>
          </ul>
          <ul>
            Duration(in Mins):
            <li>
              <input type="text" id="cduration" required value="<%= category.duration%>">
              <span class='error-msg hide' id="error-msg-duration"></span>
            </li>
          </ul>
          <ul>
            <li>
              Type:
              <select id="ctype">
                <option value="MOVIE" <%=(category.type==='MOVIE' ) ? 'selected' : '' %>>MOVIE</option>
                <option value="EVENT" <%=(category.type==='EVENT' ) ? 'selected' : '' %>>EVENT</option>
              </select>
            </li>
          </ul>
          <ul>
            <li>
              Theater:
              <select id="theatre">
                <%for(var i=0;i<theatre.length;i++){%>
                <option value="<%=theatre[i].id%>" <%=(theatre[i].id===category.theatreId) ? 'selected' :''%>>
                  <%=theatre[i].name%>
                </option>
                <%}%>
              </select>
            </li>
          </ul>
          <ul>
            <li>
              Status:
              <select id="cstatus">
                <option value="0" <%=(Number(category.status)===0) ? 'selected' : '' %>>0</option>
                <option value="1" <%=(Number(category.status)===1) ? 'selected' : '' %>>1</option>
              </select>
            </li>
          </ul>
        </div>
        <button type="submit" data-id="<%= category.id%>" class="btn btn-primary send-msg-btn" onclick="updateCategory(this)">Update</button>
        <div class="contact-us-success" id="sign-in-block" style="display:none;">
          <div class="model-success">
            <h2>Thanks for contacting us, our team will get back to you within 6 hours.</h2>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
