<style>
.pagenation {
  width: 100%;
  float: left;
  margin-top: 50px;
  margin-bottom: 60px
}

.pagenation ul li {
  float: left;
  margin-right: 10px;
  list-style: none;
}

.pagenation ul li a {
  background: #fff;
  cursor: pointer;
  border-radius: 3px;
  padding: 13px 16px;
  font-size: 14px;
  border: 0;
  box-shadow: 0 2px 4px rgba(0, 0, 0, .12);
  color: #464646;
  text-align: center
}

.pagenation ul li a.active,
.pagenation ul li a:hover {
  background: #2480ee;
  color: #fff
}

.pagenation ul li a.inactive {
  background: #ddd;
  pointer-events: none
}

.pagenation ul li a.inactive:hover {
  color: inherit
}


.container-fluid {
  padding-right: 10px;
  padding-left: 10px;
  margin-right: auto;
  margin-left: auto;
  width: 100%;
  padding: 20px;
  min-height: calc(100vh - 180px),
}

</style>
<% var currentpage       = parseInt(currentpage);
   var start_loop;
   var end_loop;

   /* ------Calculating the starting and endign values for the loop---------- */
   if (currentpage >=5)
   {
     start_loop = currentpage - 1;
     if (totalpages > currentpage + 4)
         end_loop = currentpage + 4;
     else if (currentpage <= totalpages && currentpage > totalpages-4) {
         start_loop = totalpages - 4;
         end_loop = totalpages;
     } else {
         end_loop = totalpages;
     }
   }
   else {
     start_loop = 1;
     if (totalpages > 5)
         end_loop = 5;
     else
         end_loop = totalpages;
   }%>
%>
<% if(totalpages>1){ %>
<div class="pagenation">
  <div class="container-fluid">
    <ul>
      <li><a class="prev <%=(currentpage>1)?'':'inactive' %>" data-page="<%= currentpage-1 %>" onclick="pagination(this)">Previous</a></li>
      <% for(var i=start_loop;i<=end_loop;i++) { %>
      <li><a class="num <%= currentpage == i ? 'active' :'' %>" data-page="<%= i %>" onclick="pagination(this)">
          <%= i %></a></li>
      <% } %>
      <li><a class="prev <%=(currentpage==totalpages)?'inactive':'' %>" data-page="<%= currentpage+1 %>" onclick="pagination(this)">Next</a></li>
      <li><a class="last <%=(currentpage==totalpages)?'inactive':'' %>" data-page="<%= totalpages %>" onclick="pagination(this)">Last</a></li>
    </ul>
  </div>
</div>
<% } %>
