<style>
  table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 150%;
}

td, th {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 8px;
}

tr:nth-child(even) {
  background-color: #dddddd;
}
</style>
<section class="faq-section">
  <div class="container">
    <h1>List of Theatres</h1>
    <button type="submit" class="btn btn-primary send-msg-btn" onclick="showAddNewTheatre(this)">Add New Theatre</button>
    <div class="faq-content" id="addNewTheatre" style="display: none">
      <div class="faq-inner-content">
        <div class="contact-sec">
          <ul>
            Name
            <li>
              <input type="text" id="tname" required placeholder="Name*">
              <span class='error-msg hide' id="error-msg-name"></span>
            </li>
          </ul>
          <ul>
            Seat
            <li>
              <input type="text" id="tseat" required placeholder="Seat*">
              <span class='error-msg hide' id="error-msg-seat"></span>
            </li>
          </ul>
          <ul>
            Cost
            <li>
              <input type="text" id="tcost" required placeholder="Cost*">
              <span class='error-msg hide' id="error-msg-cost"></span>
            </li>
          </ul>
          <ul>
            <li>
              Status
              <select id="tstatus">
                <option value="0">0</option>
                <option value="1">1</option>
              </select>
            </li>
          </ul>
        </div>
        <button type="submit" class="btn btn-primary send-msg-btn" onclick="addNewTheatre(this)">Add</button>
        <div class="contact-us-success" id="sign-in-block" style="display:none;">
          <div class="model-success">
            <h2>Thanks for contacting us, our team will get back to you within 6 hours.</h2>
          </div>
        </div>
      </div>
    </div>
    <div class="faq-content">
      <div class="faq-inner-content">
        <h4>Theatres</h4>
        <div class="contact-sec">
          <table>
            <thead>
              <tr>
                <th width="35%">Name</th>
                <th width="15%">Seats</th>
                <th width="15%">Cost</th>
                <th width="15%">Status</th>
                <th width="15%"></th>
              </tr>
            </thead>
            <tbody>
              <% for(var i=0;i<theatres.length;i++) { %>
              <tr>
                <td>
                  <%= theatres[i].name%>
                </td>
                <td>
                  <%= theatres[i].seat%>
                </td>
                <td>
                  <%= theatres[i].cost%>
                </td>
                <td>
                  <%= theatres[i].status%>
                </td>
                <td class="table-checkbox">
                  <button data-id="<%= theatres[i].id%>" data-name="<%= theatres[i].name%>" style="height:20px;margin-left:2%;cursor: pointer;border: none;background: #2480ee;color: #FFF;font-size: 13px;" class="deleteRow" onclick="deleteTheatre(this)"><i class="far fa-trash-alt"></i></button> <button data-id="<%= theatres[i].id%>" style="height:20px;margin-left:2%;cursor: pointer;border: none;background: #2480ee;color: #FFF;font-size: 13px;" class="editRow"><a href="/admin/edit-theatre-detail/<%= theatres[i].id%>" style="color: white;"><i class="far fa-edit"></i></a></button>
                </td>
              </tr>
              <%}%>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</section>
<%- include('../admin/pagination-theatre', {totalpages: totalpages,currentpage:currentpage}) %>
<button class="scrolltop-btn">
  <i class="fas fa-chevron-up"></i>
</button>
