<div class="faq-inner-content">
  <div class="contact-sec">
    <ul>
      Name:
      <li>
        <input type="text" id="name" readonly value="<%= category.name%>">
        <span class='error-msg hide' id="error-msg-name"></span>
      </li>
    </ul>
    <ul>
      Duration(in Mins):
      <li>
        <input type="text" id="duration" readonly value="<%= category.duration%>">
        <span class='error-msg hide' id="error-msg-duration"></span>
      </li>
    </ul>
    <ul>
      <li>
        Theater:
        <input type="text" id="theatre" data-id="<%= category.theatre.id%>" readonly value="<%= category.theatre.name%>">
      </li>
    </ul>
    <ul>
      Show Timings:
      <% for(var i=0;i<category.times.length;i++) {%>
      <li>
        <input type="radio" name="showTimings" value="<%= category.times[i]%>">
        <%= category.times[i]%>
      </li>
      <% } %>
    </ul>
    <ul>
      <li>
        Total Seats:
        <input type="text" id="seats" readonly value="<%= category.theatre.seat%>">
      </li>
    </ul>
    <ul>
      <li>
        Cost:
        <input type="text" id="cost" readonly value="<%= category.theatre.cost%>">
      </li>
    </ul>
    <ul>
      <li>
        Number of Seats To Be Booked:
        <input type="number" id="seatsToBeBooked" required>
      </li>
    </ul>
  </div>
  <button type="submit" class="btn btn-primary send-msg-btn" onclick="checkAndGetCost(this)">Get total Cost</button>
  <div class="contact-us-success" id="confirmation-block" style="display:none;">
    <div class="model-success">
      <h2>Thanks for contacting us, our team will get back to you within 6 hours.</h2>
    </div>
  </div>
</div>
