<div class="faq-inner-content">
  <div class="contact-sec" id="booking">
    <ul>
      <li>
        Total Cost:
        <input type="text" id="totalCost" data-totalcost="<%= totalCost%>" readonly value="<%= totalCost%>">
      </li>
    </ul>
    <ul>
      <li>
        Number of Tickets:
        <input type="text" id="numOfSeats" data-numoftickets="<%= numOfSeats%>" readonly value="<%= numOfSeats%>">
      </li>
    </ul>
    <ul>
      <li>
        Show Time:
        <input type="text" id="showTime" data-showtime="<%= showTime%>" readonly value="<%= showTime%>">
      </li>
    </ul>
  </div>
  <button type="submit" class="btn btn-primary send-msg-btn" onclick="confirmBooking(this)">Confirm Booking</button>
  <div class="contact-us-success" id="confirm" style="display:none;">
    <div class="model-success">
      <h2>Thanks for contacting us, our team will get back to you within 6 hours.</h2>
    </div>
  </div>
</div>
